/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
}
.header {
	color: rgb(99, 99, 99);
	font-family: "Geneva", "Arial", "Comic Sans MS5";
	text-align: center;
	font-size: 100%;
}

.bgimg {
	/* Background image */
	background-image: url('choozingHappy.jpg');
	background-repeat: no-repeat;
	background-size: 75% 75%;
	background-position: center;
	padding: 30%;
}
.contact {
	color: rgb(99, 99, 99);
	font-family: "Geneva", "Arial", "Comic Sans MS5";
	font-size: 100%;
	text-align: center;
}

a:link {
	color: rgb(99, 99, 99);
}

a:visited {
	color: green;
}

a:hover {
	color: hotpink;
}

@media only screen and (max-width: 1080px) {
  a {
    font-size: 150%;
  }
}